.glyphicon {
  margin: 2rem;
}

.star-container {
  width: 27rem;
  height: 18rem;
  float: right;
}

.row {
  border-bottom: 1px solid #00000042;
  border-top: 1px solid #00000042;
  margin-top: 4em;
}
.equalSign {
    background-color: #00000042;
    margin-top: 4rem;
    align-items: center;
    padding-top: 0.1rem!important;
    font-weight: 400;
    margin: 2rem;
    font-size: 3rem;
}
.container{
  margin: 2em 0 0 0;
}
button{
  float: right;
}
.numberCircle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 10px 13px 9px 15px;
  background: #69696985;
  border: 2px solid #fff;
  color: #000;
  text-align: center;
  font: 1.5rem Arial, sans-serif;
  margin: 1rem;
}

.result-container {
  border-radius: 5px 5px 5px 5px;
  width: 4rem;
  height: 4rem;
  text-align: center;
  color: #fff;
  padding-top: 0.8rem;
}

.glyphicon-ok {

  border: 0.4rem solid #b3ec88;
  background-color: #3aef3aa3;
}

.glyphicon-remove {
  border: 0.4rem solid #fb7878;
  background-color: red;
}

.input-container {
  height: 5rem;
  border: 0.9px solid #dcd4d4;
  padding: 1em 1em 1em 20em;
}

.number-container {
  flex-wrap: wrap;
    display: flex;
}

